<h1>Carrito de Compras</h1>

{{#each products}}
  <div>
    <p>Producto: {{this.product.title}}</p>
    <p>Cantidad: {{this.quantity}}</p>
  </div>
  <hr />
{{/each}}

<form action="/api/carts/{{cid}}/purchase" method="POST">
  <button type="submit">Confirmar compra</button>
</form>