<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KOBB</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <!-- Aquí colocamos el logo de la tienda -->
      <img
        src="https://kobb.com.ar/wp-content/uploads/2021/11/cropped-kobboctb-1.png"
        alt="Logo de la tienda"
      />

      <a href="/api/users/profile">Mi perfil</a>

    </header>
    {{{body}}}
  </body>
</html>